/* LETZTES UNGERADES ELEMENT */


/* element alle: chocolate */
.element {
    color: chocolate
}

/* eleemnt gerade: cadetblue */
.navElement:nth-child(even) {
    color: cadetblue
}

/* falls das letzte Element ein ungerades ist: darkcyan */
.element:nth-child(odd):nth-last-child(1) {
    color: darkcyan;
}

/* OVERLAY */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    overscroll-behavior: contain;
}

/* BURGER-MENU */

#element:after {
    content: " ";
    position: relative;
    display: inline-block;
    top: .1em;
    left: 0;
    border-top: 1.5em double #237;
    border-bottom: .5em solid #237;
    width: 2em;
    height: .5em;
    background: transparent;
}


/* SYSTEM-FONTS*/
 
font-family: -apple-system,
                system-ui,
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
/* https://booking.design/implementing-system-fonts-on-booking-com-a-lesson-learned-bdc984df627f */

/* GRADIENT COLOR-HINTS */

/* http://codepen.io/AmeliaBR/pen/vmZbpR */
linear-gradient(black, 30%, transparent)
linear-gradient(black, 30%, hsla(0, 0%, 0%, 0.5) 50%, 70%, transparent);