/* ZENTRIEREN */

/* v1 */

.element {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* v2 */

.element {
  display: grid;
  place-items: center;
  height: 100vh;
}

/* v3 */

.element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50% -50%);
}


/* TELEFONNUMMERN */


a[href^="tel"] {
  white-space: nowrap;
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 30em) {
  a[href^="tel"] {
    pointer-events: auto;
    text-decoration: underline;
  }
}

/* CHECKBOX STYLEN */

button {
  appearance: none;
}

/* poor man's no-js checkbox toggler */
input[type="checkbox"] ~ div {
  visibility: hidden;
}
input[type="checkbox"]:checked ~ div {
  visibility: visible;
}

/* ZEILENLÄNGE BEGRENZEN */

.element {
    max-width:75ch;
}


/* MODAL-WINDOW MIT FIXER HÖHE */

/*https://codepen.io/ashconnolly/pen/wmrNJK*/

.c-modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
   background: rgba(255, 255, 255, 0.6);
   overflow-y: auto;

   &__inner {
      margin: 60px auto;
      padding: 1.25em 1.5em;
      background: white;
      border: 1px solid #bcbec0;
      width: 90%;
      max-width: 560px;
      max-height: 400px;
      overflow-y: auto;
      position: relative;
      transform: translateY(1px);
   }
   
   &__close {
      position: sticky;
      top: 0;
      left: 100%;
      min-width: 1px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: block;
      // transform: translate3d(50%, -50%, 0);
   }
}

/* DETAIL-PFEIL ÄNDERN */


summary {
  font-weight: bold;
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

summary::-webkit-details-marker {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
  color: transparent;
}

/* LETZTES UNGERADES ELEMENT */


/* element alle: chocolate */
.element {
    color: chocolate
}

/* eleemnt gerade: cadetblue */
.navElement:nth-child(even) {
    color: cadetblue
}

/* falls das letzte Element ein ungerades ist: darkcyan */
.element:nth-child(odd):nth-last-child(1) {
    color: darkcyan;
}

/* OVERLAY */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    overscroll-behavior: contain;
}

/* BURGER-MENU */

#element:after {
    content: " ";
    position: relative;
    display: inline-block;
    top: .1em;
    left: 0;
    border-top: 1.5em double #237;
    border-bottom: .5em solid #237;
    width: 2em;
    height: .5em;
    background: transparent;
}


/* SYSTEM-FONTS*/
 
font-family: -apple-system,
                system-ui,
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
/* https://booking.design/implementing-system-fonts-on-booking-com-a-lesson-learned-bdc984df627f */

/* GRADIENT COLOR-HINTS */

/* http://codepen.io/AmeliaBR/pen/vmZbpR */
linear-gradient(black, 30%, transparent)
linear-gradient(black, 30%, hsla(0, 0%, 0%, 0.5) 50%, 70%, transparent);


/* responsives Bild */

#outer {
    position: relative;
    float: left;
    width: 100%;
}

#inner {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: /*3:2 = 66%; 16:9 = 56%*/;
    background-repeat: no-repeat;
}