#albisGalleryStart {
    position: absolute;
    top: .7em;
    left: .7em;
    display: inherit;
    height:1.4em;
    border: 1px solid #fff;
    border-radius: 3px;
    background: rgba(67, 68, 71, .8);
    /* CSS2 */ box-shadow: 3px 3px 6px rgba(67, 68, 71, .2), -1px -1px 6px rgba(67, 68, 71, .1), -1px 1px 6px rgba(67, 68, 71, .1), 1px -1px 6px rgba(67, 68, 71, .1);
    color: #fff;
    font-style: normal;
}

#albisGalleryStart:after {
    position: absolute;
    display: block;
    background-size: cover;
    content: "";
}

.galerie {
    padding-right: 5em !important;
    width: 5.4em;
}

.galerie:after {
    top:-1px;
    right: 2px;
    margin:4px;
    width:16px;
    height:16px;
    background:url("/client/grafik/icon/i1.min.svg") no-repeat  0 -42px;
}

.galerie:hover, .galerie:focus, .zoom:hover, .zoom:focus  /*CSS2*/ {
    background: #fff !important;
    color:rgba(67, 68, 71, 1)  !important;
}

.galerie:hover:after, .galerie:focus:after  /*CSS2*/ {
    background-position: 0 -21px;
}

.zoom {
    width: 1.4em;
}

.zoom:after {
    top:0;
    right:0;
    width:20px;
    height:20px;
    background:url("/client/grafik/icon/i1.min.svg") no-repeat  0 -341px;
}

.zoom:hover:after, .zoom:focus:after  /*CSS2*/{
    background-position: 0 -315px
}




#albisWall {
    position: absolute;
    top: 0;
     width: 100%;
    height: 100%;
    white-space: nowrap;
    letter-spacing: -4px;
}

.albisImg {
    z-index: 1004;
    display: inline-block;
    max-width: 90%;
    max-height: 75%;
    border: .3em solid #fff;
    vertical-align: middle;
}

#albisOver {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    display: block;
    overflow: hidden;
     width: 100%;
    height: 100%;
    background: #222;
    background: rgba(0, 0, 0, .8);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    transition: opacity 1s ease;
    overscroll-behavior: contain;
}

#albisNext:before, .albisCap_p, .albisFig, .albisFig:before {
    display: inline-block;
}

.albisFig {
    position: relative;
    left: 0;
    z-index: 1002;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1px;
}

.albisFig:before {
    margin-right: -1px;
    width: 1px;
    height: 50%;
    content: "";
}
.albisCap {
    position: absolute;
    right: 10%;
    bottom: 5%;
    left: 10%;
    z-index: 1008!important;
    white-space: normal;
    letter-spacing: normal;
    font-size: 1rem;
    line-height: 1.4;
}

.albisCap_p {
    padding: .1em 1em;
    background: #333;
    background: rgba(0, 0, 0, .6);
    color: #fff;
}

#albisNext, #albisPrev {
    position: absolute;
    top: 00%;
    bottom: 20%;
    z-index: 2000;
    width: 48%;
    outline: 0!important;
    border: 0;
    background: 0 0;
    opacity: .3;
    transition: opacity 2s ease;
}

#albisNext {
    right: 0
}

#albisNext_span, #albisPrev_span {
    float: left;
    text-indent: -10000px;
}

#albisNext:hover, #albisPrev:hover {
    background: 0 0!important;
    opacity: 1
}

#albisNext:before, #albisPrev:before {
    margin-top: -1.4em

    width: auto;
    font-size: 5em;
    line-height: 3;}


#albisNext:before {
    position: absolute;
    right: 3%;
    color: #fff;
    content: '\2771';
}

#albisPrev:before {
    position: absolute;
    left: 3%;
    color: #fff;
    content: '\2770';
}

#albisExit {
    position: relative;
    top: 1%;
    right: 1%;
    z-index: 2000;
    float: right;
    outline: 0;
    border: none;
    border-radius: .2em;
    background: #fff;
    font-size: 1rem;
}

#albisCounter {
    position: relative;
    top: 2%;
    z-index: 2000;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

#albisWall {
    -webkit-transition: transform 1200ms ease-in-out;
    transition: transform 1200ms ease-in-out;
}

/* < GALERIE */


